body{
    color: blueviolet;
}


.gu{
    font-weight: 100;
}

.hi{
    font-weight: 900;
}

.gu.hi{

    background-color: blanchedalmond;
}


.spinner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-name: spinner;
    border: 2px solid red;

border-top:2px solid mediumspringgreen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
input[type="text"]{
    outline:  red;
    border:2px solid  red;
}
input:focus{
    outline: red;border: 2px solid red;
}


@keyframes spin{
    0% {transform: rotateX(0deg);}
    25%{transform: rotate(180deg);
        border-top: 0.2px solid green;}
    100% {transform: rotate(360deg);
        border-top: 0.2px solid yellow;
    }
}
@keyframes spinner{
    0%{
    transform: rotate(0deg);}
    100%{
        transform: rotate(360deg)}
}
.triangle{
    
    border-top:10pxpx soild transparent ;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid red;
    width: 0%;
}
.triangle:hover{
    transform: scale(1.2);
}
